# THE EFFECT OF A POSITIVE SHOCK TO TECHNOLOGY IN HIGH- AND LOW-INCOME COUNTRIES

**Introduction:**

The aim of this project is to analyse the effect of a positive schock to the technological stage for different high- and low-income countries. More specifically, we want to estimate the long-run effects of an increase in technology by 20% from 2022 onwards. This high increase occurs due to the new AI technologies, which has been changing the technological scene all over the world.

**On our data:**

For the analysis, we have collected data from 1960 for gross domestic product $(Q_t)$, physical capital $(K_t)$, techological stage $(B_t)$ and labor force $(L_t)$. The selected countries are Denmark, The United States, India and China. All data is simulated up until year 2100 based on an extended Solow-Model, where all parameter values has been calculated for each country. This means that the dataset is fictional and based on a theoretical model, which does not include outliers or fluctuations. All data from 1960 has been collected from The World Bank and Penn World Table 9.0.

First we make imports and set magics:

In [1]:
# Import necessary libraries
import pandas as pd  # Import pandas for data manipulation
import numpy as np  # Import numpy for numerical computing
import matplotlib.pyplot as plt  # Import matplotlib for plotting
import ipywidgets as widgets  # Import ipywidgets for interactive widgets
from ipywidgets import interact, widgets  # Import interact and widgets from ipywidgets
from IPython.display import display  # Import display function from IPython.display for displaying output
import dataproject  # Import custom module dataproject for additional functionalities
import csv  # Import csv module for reading CSV files

# Specifying the filename of the CSV file containing the data
filename = "DataProject_Data.csv"

# Open the CSV file and print its contents
with open('DataProject_Data.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

# Read the CSV file into a pandas DataFrame
DataProject_Data = pd.read_csv(filename, delimiter=";")

# Create an instance of the Solowclass from the dataproject module with the specified filename
Solowclass = dataproject.Solowclass(filename)

ImportError: Unable to import required dependencies:
numpy: Error importing numpy: you should not try to import numpy from
        its source directory; please exit the numpy source tree, and relaunch
        your python interpreter from there.

# Read and clean data

In [ ]:
# Remove trailing whitespaces from column names
DataProject_Data.columns = DataProject_Data.columns.str.strip()

# Convert specific columns to strings before replacing commas
string_columns = ['DK_K_t', 'US_K_t']  # Specify columns to be converted to strings
for column in string_columns:
    DataProject_Data[column] = DataProject_Data[column].astype(str)

# Replace commas with dots in selected columns to prepare for conversion to float
DataProject_Data['DK_K_t'] = DataProject_Data['DK_K_t'].str.replace(',', '.')
DataProject_Data['US_K_t'] = DataProject_Data['US_K_t'].str.replace(',', '.')

# Convert strings to floats for specified columns
columns_to_convert = ['DK_B_t', 'US_B_t', 'IN_B_t', 'CN_B_t',  # Specify columns to be converted to floats
                      'DK_K_t', 'US_K_t', 'IN_K_t', 'CN_K_t',
                      'DK_Q_t', 'US_Q_t', 'IN_Q_t', 'CN_Q_t',
                      'DK_L_t', 'US_L_t', 'IN_L_t', 'CN_L_t']

for column in columns_to_convert:
    # Replace commas with dots and convert the column to float type
    DataProject_Data[column] = DataProject_Data[column].str.replace(',', '.').astype(float)

In [ ]:
# Check data types
print(DataProject_Data.dtypes)

# Inspect sample data
print(DataProject_Data.head())

# Calculate statistics
print(DataProject_Data.describe())

# Exploring the data

In [ ]:
# Generate descriptive statistics for your DataFrame
descriptive_stats = DataProject_Data.describe()

# Display the descriptive statistics as a styled HTML table
# Set styling options for the table
descriptive_stats_table = descriptive_stats.style.set_table_styles([
    {'selector': 'th', 'props': [('background-color', 'white')]},  # Set background color for table headers
    {'selector': 'td', 'props': [('font-size', '12pt')]},         # Set font size for table data
    {'selector': 'tr:nth-of-type(odd)', 'props': [('background-color', 'whitesmoke')]},  # Alternate row color
    {'selector': 'tr:nth-of-type(even)', 'props': [('background-color', 'white')]}        # Alternate row color
]).format("{:.2f}")  # Format numerical values to have two decimal places

# Render the styled table
descriptive_stats_table

The descriptive statistics provide a summary of the distribution of various economic indicators across four countries (Denmark, the United States, India, and China) over a period from 1960 to 2100.

**Economic Disparities:**

The descriptive statistics highlight substantial differences in economic indicators such as GDP, capital stock, and population size among the four countries. For instance, while Denmark exhibits relatively high levels of GDP and capital stock, India and China show significant population sizes and rapid economic growth over time. These disparities underscore the diverse economic landscapes and development trajectories across the countries.

**Temporal Trends:**

The statistics reveal temporal trends in economic variables over the specified period, indicating changes in economic performance and structural transformations. For example, the increasing mean values of GDP and capital stock for all countries suggest overall economic growth, while variations in standard deviations and percentiles reflect periods of volatility and differential growth rates among the countries. These trends provide insights into the evolving economic dynamics and potential factors driving economic development in each nation. However, it is still important to keep in mind, that the dataset is simulated and based on a theoretical model, which does not catch all fluctuations or volatility.

In [ ]:
# Define colors for each country
colors = {'DK': 'blue', 'US': 'green', 'IN': 'red', 'CN': 'purple'}

# Define the function to plot the data for the selected indicator and year range
def plot_indicator(indicator, year_range):
    # Set up the plot figure with specified size
    plt.figure(figsize=(10, 6))
    
    # Iterate over each country and plot its data
    for country in ['DK', 'US', 'IN', 'CN']:
        # Plot data for the current country with specified color
        plt.plot(DataProject_Data['t'], DataProject_Data[country + '_' + indicator], 
                 label=country, color=colors[country])
    
    # Set plot title, x-axis label, y-axis label, and legend
    plt.title('Trend of {} indicator for each country over Time'.format(indicator))
    plt.xlabel('Year')
    plt.ylabel('Value')
    plt.legend()
    
    # Add gridlines to the plot
    plt.grid(True)
    
    # Set x-axis limits based on the selected year range
    plt.xlim(year_range)
    
    # Display the plot
    plt.show()

# Get the list of indicators from the column names of the DataFrame
indicators = ['B_t', 'L_t', 'K_t', 'Q_t']

# Define the year range based on the minimum and maximum years in the data
min_year = DataProject_Data['t'].min()
max_year = DataProject_Data['t'].max()

# Create an interactive dropdown menu to select the indicator and a slider to select the year range
interact(plot_indicator, 
         indicator=indicators, 
         year_range=widgets.IntRangeSlider(min=min_year, max=max_year, step=1, 
                                           value=[min_year, max_year], description='Year Range'))

interactive(children=(Dropdown(description='indicator', options=('B_t', 'L_t', 'K_t', 'Q_t'), value='B_t'), In…

The figure above displays the simulated trend of four indicators for each country, Denmark, The US, China and India. The four indicators are GDP which is denoted as Q, Population which is denoted L, Technological stage denoted B, and finally the physical capital denoted K.

It is clear that the technological level is considerably larger for the countries, Denmark and the US, while the population level is larger for India and China. Further we see that, according to the theoretical model, the population of India should surpass China in 2040. In reality, the population of India has already surpassed the population level of China. Thus, the model captures this, but underestimates it.

The stock of physical capital is expected to increase for all countries, where Denmark (as the smallest country, geographically) has the smallest level of physical capital stock. As perhaps expected, China holds the largest stock of physical capital. Lastly, the US has the largest GDP, followed by China. Denmark has the lowest.

In [ ]:
class AlphaCalculator:
    def __init__(self, data):
        # Initialize the AlphaCalculator class with input data
        self.data = data
        
    def calculate_alpha(self, Q_col, B_col, K_col, L_col):
        # Calculate alpha value using the specified columns for Q, B, K, and L
        ln_Q_t = np.log(self.data[Q_col])
        ln_B_t = np.log(self.data[B_col])
        ln_KL_t = np.log(self.data[K_col] * self.data[L_col])
        
        alpha_value = (ln_Q_t - ln_KL_t) / (ln_B_t - ln_KL_t)
        return alpha_value
    
    def plot_alpha(self, country, alpha_col):
        # Plot alpha values over time for the specified country
        plt.plot(self.data['t'], self.data[alpha_col], label=f'{country} Alpha', color='blue')
        plt.xlabel('Year')
        plt.ylabel('Alpha')
        plt.legend()
        plt.title('Alpha over Time')
        plt.show()

# Create an instance of AlphaCalculator with the provided data
alpha_calculator = AlphaCalculator(DataProject_Data)

# Define the list of countries
countries = ['DK', 'US', 'IN', 'CN']

# Define the dropdown widget for selecting the country
country_dropdown = widgets.Dropdown(
    options=countries,
    value='DK',
    description='Country:'
)

# Define the function to update the plot based on the selected country
def update_plot(country):
    # Calculate alpha for the selected country and update the plot
    alpha_col_name = f'{country}_alpha'
    alpha_value = alpha_calculator.calculate_alpha(f'{country}_Q_t', f'{country}_B_t', f'{country}_K_t', f'{country}_L_t')
    DataProject_Data[alpha_col_name] = alpha_value
    alpha_calculator.plot_alpha(country, alpha_col_name)

# Create the interactive plot
interact(update_plot, country=country_dropdown)

interactive(children=(Dropdown(description='Country:', options=('DK', 'US', 'IN', 'CN'), value='DK'), Output()…

# Conclusion

ADD CONCISE CONLUSION.